@import './general';

// Section Slider

.slider {
  .slides {
    li {
      .caption {
        margin-top: 5rem;
        h2 {
          font-weight: 700;
          letter-spacing: 1px;
        }
      }
      .btn {
        margin-top: 1.5rem;
        border-radius: 0.5rem;
        border: none;
        font-size: 1.4rem;
      }
    }
  }
}
